@CHARSET "UTF-8";

body {
    color: #804000;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,
        Arial, sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #467935;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    display: inline;
    font-size: 24px;
    color: #eeeeee;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3f3f3f;
}

a {
    text-decoration: none;
    color: #3f3f3f;
    font-size: 25px;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#select_button {
    margin: 20px 10px 20px 10px;
    padding: 10px 0px 0px 30px;
    color: #fff;
    line-height: 4;
    border-radius: 3px;
    background: #fae7c2;
    font-size: 50px;
}

#all_income {
    font-size: 30px;
    background: #f7d346;
    font-family: Verdana, sans-serif;
    padding: 10px 10px 0px 30px;
}

#max_goal {
    font-size: 30px;
    background: #fab32e;
}

header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: #804000;
}

header .headline {
    font-size: 32px;
}

.date_list {
    width: 37%;
}

.income_list {
    width: 37%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,
        Arial, sans-serif;
}

#work_name {
    color: #3f3f3f;
}